<%- include('partials/head') -%>

  <link rel="stylesheet" href="/assets/css/feed.css" />
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <ul class="icons">
              <li>
                <a href="https://twitter.com/resilientcoders" target="_blank" class="icon brands fa-twitter"><span
                    class="label">Twitter</span></a>
              </li>
              <li>
                <a href="https://www.facebook.com/resilientcoders/" target="_blank"
                  class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
              </li>

              <li>
                <a href="https://www.instagram.com/resilientcoders/?hl=en" target="_blank"
                  class="icon brands fa-instagram"><span class="label">Instagram</span></a>
              </li>
            </ul>
          </header>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>Feed</h1>
            </header>

            <span class="image main"><img src="images/CC.jpg" alt="" /></span>
            <!-- Add cards , AH DG-->
            <div class="feedContainer" id="jumpToFeed">
              <% if (posts.length===0) { %>
                <h3>No events available at the moment. <a href="/profile">Create one</a></h3>
                <% } else { %>
                  <% let pastEvents=[]; let upcomingEvents=[]; for (let i=0; i < posts.length; i++) { let
                    currentDate=new Date(); let eventDate=new Date(posts[i].eventDate); let
                    daysPassed=Math.floor((currentDate - eventDate) / (1000 * 60 * 60 * 24)); let eventObj={ title:
                    posts[i].title, caption: posts[i].caption, eventId: posts[i]._id, location: posts[i].eventLocation, going: posts[i].going,
                    eventDate: posts[i].eventDate, daysPassed: daysPassed }; if (eventDate < currentDate) {
                    pastEvents.push(eventObj); } else { upcomingEvents.push(eventObj); } } %>
                    <% upcomingEvents.forEach(function(event) { %>
                      <div class="feedCard" id="<%= event.eventId %>">
                        <form class="col-1" action="/post/goingPost/<%= event.eventId %>?_method=PUT" method="POST">
                          <button class="btn btn-primary fa fa-heart btnGoing" type="submit"> I am Going</button>
                        </form>
                        <h3>
                          <%= event.title %>
                        </h3>
                        <a href="/post/<%= event.eventId %>">Link to Event</a>
                        <section id="feed-cards">
                          <p>
                            <%= event.caption %>
                          </p>
                        <p><i class="fas fa-map-marker-alt"></i> Location: <%= event.location %>
                        </p>
                        <p><i class="far fa-calendar-alt"></i> <%= event.eventDate %>
                        </p>
                        <p>Attending: <%= event.going %>
                        </p>
                      </section>
                      
                      </div>
                      <% }) %>
                        <% pastEvents.forEach(function(event) { %>
                          <div class="feedCard">
                            <h3>
                              <%= event.title %>
                            </h3>
                            <a href="/post/<%= event.eventId %>">Link to Event</a>
                            <section id="feed-cards">
                              <p>
                              <%= event.caption %>
                              </p>
                              <p><i class="fas fa-map-marker-alt"></i> Location: <%= event.location %>
                              </p>
                              <p><i class="far fa-calendar-alt"></i> <%= event.eventDate %>
                              </p>
                              <p>Attended: <%= event.going %>
                              </p>
                            </section>
                            <p>This event took place <%= event.daysPassed %> day(s) ago.</p>
                          </div>
                          <% }) %>
                            <% } %>

            </div>
          </section>
        </div>
      </div>

      <%- include('partials/sidebar') -%>

        <%- include('partials/scripts') -%>
